<div class="row justify-content-md-center">
	<h1>Edición Abastecedor</h1>
</div>
<%= render 'form', provider: @provider %>
<!--
<%= link_to 'Mostrar', @provider %> |
<%= link_to 'Volver', providers_path %>
-->