

<p>
  <strong>Descripcion:</strong>
  <%= @sub_product_type.description %>
</p>

<%= link_to 'Editar', edit_sub_product_type_path(@sub_product_type) %> |
<%= link_to 'Volver', sub_product_types_path %>
