<div class="col-md-10 col-xs-12">
  <h2 style="text-align: center;margin-bottom: 25px;">Editar Transporte</h2>
</div>

<div class="col-md-8 col-xs-12">
	<%= render 'form', transport: @transport %>
</div>

<!--%= link_to 'Mostrar', @agent %> |
<%= link_to 'Volver', agents_path %>
