<p>
  <strong>Nombre:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @position.description %>
</p>

<%= link_to 'Editar', edit_position_path(@position) %> |
<%= link_to 'Volver', positions_path %>
