<p id="notice"><%= notice %></p>

<p>
  <strong>Rtn:</strong>
  <%= @seq_range_troop_number.rtn %>
</p>

<%= link_to 'Edit', edit_seq_range_troop_number_path(@seq_range_troop_number) %> |
<%= link_to 'Back', seq_range_troop_numbers_path %>
