<tr class="detail-field">
	<td><%= f.collection_select :agent_id, Agent.all, :id, :to_s, {prompt: "Agente"}, {class: "select2 form-control input-lg"} %></td>
	<td><%= f.collection_select :place_id, Place.all, :id, :to_s, {prompt: "Lugar"}, {class: "select2 form-control input-lg"} %></td>
	<td><%= f.collection_select :position_id, Position.all, :id, :to_s, {prompt: "Posicion"}, {class: "select2 form-control input-lg"} %></td>
	<td><%= f.text_field :observation, class: "form-control input-lg", placeholder: "Observacion"%></td>
</tr>
