
<p>
  <strong>Apellido:</strong>
  <%= @agent.last_name%>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @agent.name %>
</p>
<p>
  <strong>DNI:</strong>
  <%= @agent.dni %>
</p>
<p>
  <strong>Posicion:</strong>
  <%= @agent.position %>
</p>