<h1>Editando Rango numero de Tropa</h1>

<%= render 'form', range_troop_number: @range_troop_number %>

<%= link_to 'Mostrar', @range_troop_number %> |
<%= link_to 'Volver', range_troop_numbers_path %>
