
$primary-color : #0275d8;
$primary-color-oscuro : #0259a4;
$primary-color-sombra : rgba(21, 3, 186, 0.5);
$primary-color-claro : #6C8CD5;



@import "bootstrap";
@import "bootstrap-datepicker3";
@import "toastr";
@import "dataTables/jquery.dataTables";
@import "dataTables/extras/dataTables.responsive";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "metro-bootstrap";



.form-control {
  height: 46px;
  font-size: 18px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}

.show-field {
  font-size: 18px;
  padding: 10px;

}

.select2-container--bootstrap{
  
}

.has-danger .select2-selection {
  border: 1px solid #D9534F;
  border-radius: 4px;
}

.select2-container--bootstrap .select2-selection--single {
  height: 46px;
  font-size: 18px;
}

.select2-container--bootstrap .select2-selection{
  font-family: sans-serif;
  color:rgb(80, 80, 80);

}

.select2-container--bootstrap {
  display: inline-block;
}


.select2-search { color: $primary-color; }
.select2-search input { color: $primary-color; }
.select2-container--bootstrap .select2-dropdown {border-color: $primary-color !important;}
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{border-color: $primary-color !important;}
.select2-results { color: $primary-color; }
.select2-results__option--highlighted{ background-color: $primary-color !important; color:white !important}


.btn-submit{
  margin-top: 15px !important;
}

.btn-form-submit{
  position: absolute;
  bottom: 40px;
  width: 91%;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: #555555;
  padding: 2px 0;
}


select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary-color-sombra;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $primary-color-sombra;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    border-color: $primary-color;
}



#wrapper {
  padding-left: 250px;
}

#wrapper-container {
  width: 100%;
  padding: 20px;
}

#wrapper-container .container {
  margin-left: inherit;
}

#wrapper.wrapper-full {
  padding-left: 110px;
}


.controls{
  margin-bottom: 10px;
} 


.control-label {
  padding: 12px 0px;
  text-align: right;
  font-size: 16px;
}


.btn-form {
  min-width: 180px;
  margin-right: 15px;
}

td .fa {
  margin: 5px 10px;
  font-size: 20px;
}


@media (max-width: 992px){
  td .fa {
    margin: 5px 4px;
  }
}




@media (max-width: 768px) {

  body {
    padding-top: 52px;
  }

  .tile h1{
    font-size: 28px;
  } 


  #wrapper {
    padding-left: 0px;
  }

  td .fa {
    margin: 5px 3px;
    font-size: 18px;
  }
}
