<div class="col-md-10 col-xs-12">
  <h2 style="text-align: center;margin-bottom: 25px;">Editar Zona de planta: <%= @place %></h2>
</div>

<div class="col-md-8 col-xs-12">
	<%= render 'form', place: @place %>
</div>